@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
    --ff: 'Kumbh Sans', sans-serif;

    --fw-r: 400;
    --fw-b: 700;

    --fs-s: 1rem;
    --fs-m: 1.4rem;
    --fs-l: 1.8rem;

    --br: 1.5rem;

    --p-s: 2.4rem;
    --p-m: 2.8rem;

    --primary-clr: hsl(185, 75%, 39%);
    --primary-clr-dark: hsl(227, 10%, 46%);
    --primary-clr-very-dark: hsl(229, 23%, 23%);
    --neutral-clr: hsl(0, 0%, 59%);
    --neutral-clr-light: hsl(225, 10%, 92%);
    --white-clr: #FFF;
}

*, 
body {
    box-sizing: border-box;
    margin: 0;
    font-size: 10px;
    font-family: var(--ff);
    color: var(--primary-clr-dark);
    font-weight: var(--fw-r);
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--primary-clr);
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url(./images/bg-pattern-top.svg), url(./images/bg-pattern-bottom.svg);
    background-repeat: no-repeat;
    background-position: top -650px left -700px, bottom -650px right -700px;
}

h1, span {
    font-size: var(--fs-l);
    font-weight: var(--fw-b);
    color: var(--primary-clr-very-dark);
}

h2 {
    font-size: var(--fs-m);
}

h3 {
    font-size: var(--fs-s);
    letter-spacing: 0.15rem;
    margin-top: 1rem;
}

.card {
    height: 374px;
    width: 90vw;
    min-width: 326px;
    max-width: 350px;
    
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
}

.profile-image {
    position: absolute;
    border: 5px solid var(--white-clr);
    border-radius: 50%;
    background-color: var(--white-clr);

    left: calc(50% - 96px/2);
    top: calc(50% - 96px/2 - 5.5rem);
}

.card-image {    
    border-radius: var(--br) var(--br) 0 0;    
}

.card-text {
    background-color: var(--white-clr);
    border-radius: 0 0 var(--br) var(--br);
}

.personal-info {
    margin-top: 4rem;
    padding: var(--p-m);
}

.person {
    display: flex;
    justify-content: center;    
    margin-bottom: .8rem;
}

.person span {
    margin-left: .85rem;
    color: var(--primary-clr-dark);
    font-weight: var(--fw-r);
}

.separator {
    height: .1rem;
    background-color: var(--neutral-clr-light);
}

.profile-info {
    display: flex;
    justify-content: space-around;
    padding: var(--p-s);
}

@media (min-width: 500px) {
    body {
        background-position: top -500px left -290px, bottom -600px right -250px;
    }
}