@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
    --ff: 'Kumbh Sans', sans-serif;

    --fw-r: 400;
    --fw-b: 700;

    --fs-s: 1rem;
    --fs-m: 1.4rem;
    --fs-l: 1.8rem;

    --br: 1.5rem;

    --p-s: 2.4rem;
    --p-m: 2.8rem;

    --primary-clr: hsl(185, 75%, 39%);
    --primary-clr-dark: hsl(227, 10%, 46%);
    --primary-clr-very-dark: hsl(229, 23%, 23%);
    --neutral-clr: hsl(0, 0%, 59%);
    --neutral-clr-light: hsl(225, 10%, 92%);
    --white-clr: #FFF;

    --mw-desktop: 1440px;
}

*, 
body {
    box-sizing: border-box;
    margin: 0;
    font-size: 10px;
    font-family: var(--ff);
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--primary-clr);
    display: flex;
    justify-content: center;
}

main {
    display: flex;    
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 90vw;
}

h2, h3 {
    color: var(--primary-clr-dark);
    font-weight: var(--fw-r);
}

h1 {
    font-size: var(--fs-l);
    font-weight: var(--fw-b);
    color: var(--primary-clr-very-dark);
}

h2 {
    font-size: var(--fs-m);
}

h3 {
    font-size: var(--fs-s);
    letter-spacing: 0.15rem;
    margin-top: 1rem;
}

.profile-image {
    width: 96px;
    position: absolute;
    border: 5px solid var(--white-clr);
    border-radius: 50%;

    left: calc(50% - 96px/2);
    top: calc(50% - 96px/2 - 47px);
}

.card-image {
    border-radius: var(--br) var(--br) 0 0;
}

.card-text {
    background-color: var(--white-clr);
    border-radius: 0 0 var(--br) var(--br);
}

.personal-info {
    margin-top: calc(96px/2);
    padding: var(--p-m);
}

.separator {
    height: .1rem;
    background-color: var(--neutral-clr-light);
}

.profile-info {
    display: flex;
    justify-content: space-around;
    padding: var(--p-s);
}